@use "sass:color";

@use "@material/theme/color-palette";

@use "@material/theme/index" as theme with (
	$primary: #b58900,
	$secondary: #859900,
	$surface: #073642,
	$background: #002b36,
	$error: #dc322f,
	$on-surface: #839496
);

@use "../common.scss";
