@use "sass:color";

@use "@material/theme/color-palette";

@use "@material/theme/index" as theme with (
	$primary: #2aa198,
	$secondary: #859900,
	$surface: #f1f1f1,
	$background: #fff,
	$error: #dc322f,
	$on-surface: #232729,
	$on-primary: #0000
);

@use "common.scss";
