@use "sass:color";

@use "@material/theme/color-palette";

@use "@material/theme/index" as theme with (
	$primary: #2aa198,
	$secondary: #859900,
	$surface: #f1f1f1,
	$background: #fff,
	$error: #dc322f,
	$on-surface: #232729,
	$on-primary: #0000
);

$success: #859900;
$info: #268bd2;
$warn: #cb4b16;

html,
body {
	background-color: theme.$background;
	color: theme.$on-surface;
	margin: 0px;
	height: calc(100% - 50px);
	padding-top: 25px;
	padding-bottom: 25px;
}

a {
	color: #40b3ff;
}

a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}

/*Custom Scrollbars*/
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: theme.$background;
}

*::-webkit-scrollbar-thumb {
	background-color: theme.$surface;
	border-radius: 10px;
	border: 3px solid theme.$background;
}

#appBar {
	background-color: theme.$surface;
	position: fixed;
	top: 0;
	color: theme.$on-surface;
}

.appBarButton {
	color: theme.$on-surface !important;
}

#modTable {
	width: 100%;
	background-color: theme.$background;
	border-radius: 0px;
	border-style: none none solid none;
}

.modTableHeadCell {
	background-color: theme.$background !important;
	color: theme.$primary !important;
}

#deleteMod:hover {
	color: theme.$error;
}

#deleteMod {
	margin-right: 5px;
}

#infoMod:hover {
	color: $info;
}

.appFooter {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: theme.$surface;
}

.successButton {
	color: $success !important;
}

.errorButton {
	color: theme.$error !important;
}

.infoButton {
	color: $info !important;
}

.warnButton {
	color: $warn !important;
}

.successSnackbar .mdc-snackbar__surface {
	background-color: $success !important;
}

.errorSnackbar .mdc-snackbar__surface {
	background-color: theme.$error !important;
}

.infoSnackbar .mdc-snackbar__surface {
	background-color: $info !important;
}

.warnSnackbar .mdc-snackbar__surface {
	background-color: $warn !important;
}

.errorDialogTitle {
	text-align: center;
	color: theme.$error !important;
}

.actionsCentered {
	justify-content: center !important;
}

#initialConfigurationDialog .mdc-dialog__surface {
	overflow: visible !important;
}

.fileInputTextField .mdc-text-field__input {
	cursor: pointer;
}
